<% provide(:title, 'Manage Reservations') %>

<h1>Manage Reservations</h1>

<table class="table mt-4">
  <thead>
    <tr>
      <th>User</th>
      <th>Reservation Date</th>
      <th>Time Slot</th>
      <th>Number of People</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr style="<%= 'font-weight: bold;' if reservation.message.blank? %>">
        <td><%= reservation.user.name %></td>
        <td><%= reservation.reservation_date %></td>
        <td><%= reservation.time_slot ? reservation.time_slot.slot_time.strftime("%I:%M %p") : 'N/A' %></td>
        <td><%= reservation.number_of_people %></td>
        <td><%= reservation.status %></td>
        <td>
          <%= link_to 'Edit', edit_admin_reservation_path(reservation), class: 'btn btn-warning' %>
          <%= form_with(model: reservation, method: :delete, local: true) do |form| %>
            <%= form.submit 'Cancel', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
