<table class="table">
  <thead>
    <tr>
      <th>Reservation ID</th>
      <th>Table Number</th>
      <th>Time Slot</th>
      <th>Reservation Date</th>
      <th>Number of People</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.table.table_number %></td>
        <td><%= reservation.time_slot %></td>
        <td><%= reservation.reservation_date %></td>
        <td><%= reservation.number_of_people %></td>
        <td><%= reservation.status %></td>
        <td>
          <%= link_to 'View', reservation_path(reservation), class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Cancel', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
