<h1>Your Reservations</h1>
<!-- Pagination Links -->
  <div class="d-flex justify-content-between">
    <%= link_to 'Previous', reservations_path(page: @reservations.prev_page), class: 'btn btn-secondary' if @reservations.prev_page %>
    <%= link_to 'Next', reservations_path(page: @reservations.next_page), class: 'btn btn-secondary' if @reservations.next_page %>
  </div>
  
<% if @reservations.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Reservation Date</th>
        <th>Time Slot</th>
        <th>Table Number</th>
        <th>People</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <!-- Apply Bootstrap classes based on reservation status -->
        <tr class="<%= 'table-success' if reservation.status == 'confirmed' %>
                   <%= 'table-danger' if reservation.status == 'cancelled' %>
                   <%= 'table-warning' if reservation.status == 'pending' %>
                   <%= 'font-weight-bold' if reservation.message.present? %>">
          <td><%= reservation.reservation_date %></td>
          <td><%= reservation.time_slot&.formatted_slot_time || 'N/A' %></td>
          <td><%= reservation.table.table_number %></td>
          <td><%= reservation.number_of_people %></td>
          <td><%= reservation.status %></td>
          <td>
            <%= link_to 'View', reservation_path(reservation), class: 'btn btn-info' %>
            <%= form_with(model: reservation, method: :delete, local: true) do |form| %>
              <%= form.submit 'Cancel', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  
<% else %>
  <p>No reservations yet.</p>
<% end %>

<%= link_to 'Make a Reservation', new_reservation_path, class: 'btn btn-primary' %>
